@import "variables.scss";
@import "v-main-wrapper.scss";
@import "v-cart.scss";
@import "v-catalog.scss";
@import "v-catalog-item.scss";
@import "v-cart-item.scss";

.btn {
  border-radius: $radius;
}

.v-catalog-item {
}

h2 {
  font-size: 36px;
  line-height: 120%;
  margin: 30px auto;
}