.v-cart-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px #2c3e50;
  padding: $padding * 2;
  margin-bottom: $margin * 2;
  border-radius: $radius;

  &__image {
    max-width: 150px;
  }
}